:root {
  --color-primary: #F00F0F;
  --color-secondary: #14F00F;
  --color-accent: #0F33F0;
  --color-white: #ECF00F;
  --color-black: #F0890F;
  --color-gray: #141414;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-gray {
  background-color: var(--color-gray);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.text-white {
  color: var(--color-yellow);
}

.text-black {
  color: var(--color-orange);
}

.text-gray {
  color: var(--color-black);
}